body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  column-gap: 3rem;
}

.image-section {
  flex: 1;
  display: flex;
  column-gap: 1rem;
  height: 632px;
}

.small-images-holder {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.small-image {
  opacity: 0.6;
}

.small-image-selected {
  height: 104px;
  width: 80px;
  border-radius: 8px;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  height: 632px;
}

h2 {
  color: #1a75ff;
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 18px;
  opacity: 0.6;
  margin: 0;
}

.price-holder {
  margin-bottom: 2rem;
}

.discount-holder {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-bottom: 0.5rem;
}

.discount-price {
  font-weight: 700;
  font-size: 40px;
}

.discount {
  color: #1a75ff;
  background: #aaccff;
  padding: 4px;
  border-radius: 4px;
}

.original-price {
  font-size: 18px;
  font-weight: 700;
  opacity: 0.32;
  text-decoration: line-through;
}

.size-holder {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.size-text {
  font-weight: 700;
  font-size: 16px;
}

.size-section {
  display: flex;
  column-gap: 1rem;
}

.size-box {
  font-weight: 700;
  font-size: 16px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.size-box:hover {
  background: rgb(212, 211, 211);
}

.size-box-selected {
  color: #fff;
  background: #000;
}

.size-box-selected:hover {
  background: #000;
}

button {
  margin-top: 2rem;
  background: #1a75ff;
  color: #fff;
  border: none;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  font-family: "Merriweather", serif;
}
